<!DOCTYPE html>
<html>
<head>
  <title>CalendarFun</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag "//code.jquery.com/jquery-1.10.2.js" %>
  <%= javascript_include_tag "//code.jquery.com/ui/1.11.0/jquery-ui.js" %>
</head>
<body>

<%- flash.each do |name, msg| %>
  <div id="flash_<%= name %>"><%= msg %></div>
<%- end %>

<%= yield %>

</body>
</html>
